{% extends "base-login.html" %}
{% block body %}
<main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center">
    <style>
    .cascading-right {
    }

    @media (max-width: 991.98px) {
        .cascading-right {
        margin-right: 0;
        }
    }
    </style>
    <div class="cascading-right mx-auto w-50 mb-3" style="
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
    ">
        <div class="card-body shadow-5 w-100">
            <div class="d-flex justify-content-between">
                <span>qq{{ user.first_name }} {{ user.last_name }}</span>
                <a href="#">
                    <button class="btn btn-sm btn-danger">خروج</button>
                </a>
            </div>
        </div>
    </div>
    <div class="cascading-right w-50 mx-auto" style="
        background: hsla(0, 0%, 100%, 0.55);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body p-5 shadow-5">
        <h2 class="fw-bold text-center">{{ quiz.title }}</h2>
        <div class="mb-5 text-small fw-lighter  text-center">
            www.testes.ir
        </div>
        <div class="text-right">
        <h6 class="text-right">توضیحات</h6>
        <p class="fw-light description-font-size">
            {{ quiz.content|linebreaksbr }}
        </p>
        <div class="d-flex justify-content-end">
            {% if answered == True %}
            <span class="btn-submit-login fw-light">شما در این آزمون شرکت کرده اید</span>
            {% else %}
            <a href="{% url "questions_list" view.first_question.pk %}">
                <span class="btn-submit-login fw-lighter">شروع شرکت در {{ quiz.title }}</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                </span>
            </a>
            {% endif %}
        </div>
    </div>
        </div>
    </div>
</main>
{% if form.errors %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast align-items-center text-white bg-primary border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                رمز عبور یا نام کاربری مطابقت ندارد
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif %}
{% endblock body %}