{% extends "base-login.html" %}

{% block body %}
<main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center">
    <style>
    .cascading-right {
    }

    @media (max-width: 991.98px) {
        .cascading-right {
        margin-right: 0;
        }
    }
    </style>
    <div class="cascading-right w-40 mx-auto" style="
        background: hsla(0, 0%, 100%, 0.55);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body p-5 shadow-5 text-center">
        <h2 class="fw-bold">ورود به سایت</h2>
        <div class="mb-5 text-small fw-lighter">
            به سایت رای گیری خوش آمدید
        </div>
        <form method="post">
            {% csrf_token %}
            <!-- username input -->
            <div class="form-outline mb-4">
            <input type="text" name="username" id="form3Example3" class="form-control" />
            <label class="form-label" for="form3Example3">نام کاربری</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
            <input type="password" name="password" id="form3Example4" class="form-control" />
            <label class="form-label" for="form3Example4">رمز عبور</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn-submit-login btn btn-primary btn-block mb-3">
            ورود
            </button>
        </form>
        </div>
    </div>
</main>
{% if form.errors %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div class="toast align-items-center text-white bg-primary border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                رمز عبور یا نام کاربری مطابقت ندارد
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif %}
{% if messages %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    {% for message in messages %}
    <div class="toast align-items-center text-white bg-primary border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{ message }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
